* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

html,
body {
	font-family: 'Lora', serif;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url("../assets/typogrophyGold.svg");
}

a {
	text-decoration: none;
}

p {
	font-size: 2vw;
	font-weight: thin;
}

header {
	display: flex;
	background-image: url(../assets/landing.png);
	background-position: fixed;
	z-index: 1000;
	padding: 40rem;
	height: 100%;
	padding-top: 50em;
}



h4 {
	font-family: 'Lora', serif;
	text-shadow: #16262e;
	letter-spacing: .2rem;
	margin: .4em 0 .4em;
	text-transform: uppercase;
	margin-bottom: 4rem;
	text-align: center;
}

h2,
h3,
h5,
h6 {
	font-family: 'Lora', serif;
	text-shadow: #001427;
	color: #001427;
	/* font-size: 1.5em; */
	font-weight: bold;
	letter-spacing: .2rem;
	margin: .4em 0 .4em;
	text-transform: uppercase;
	padding: 25px;
	text-align: center;
}

h3 {
	text-shadow: #001427;
	font-family: 'Lora', serif;
	font-size: 2.125em;
	letter-spacing: 1px;
	margin: 0 0 5px;
}

section {
	justify-content: center;
	padding-bottom: 8em;
	padding-top: 3em;
}

ul {
	list-style: none;
}

.about-text p {
	font-family: 'Raleway', sans-serif;
	color: #001427;
	text-align: center;
	font-weight: 400;
	font-size: 2.3vmin;
	line-height: 1.5em;
}

.flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;	
}

.flex-grid li {
	text-align: left;
	padding: 2.8em;
	flex-basis: 45%;
	align-content: space-evenly;
}

.flex-grid h2 {
	font-size: 4vmin;
}

li .service-3 {
	justify-content: center;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 1000;
	text-align: center;
}

.scroll-down span {
	position: relative;
	color: #f3e9dc;
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;

	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}


/* .home-overlay {
	position: absolute;
	background-color: rgba(44, 62, 80, 0.3);
	background-repeat: repeat;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 0;
} */

/* .intro {
	z-index: 1000;
	position: absolute;
	width: 100%;
	top: 30%;
	left: 0;
	text-align: center;
	margin-bottom: 20em;
} */

.site-wrap {
	margin: none;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
	transform: scale(0.98);
	transition: transform 0.5s;
}


/* *************************************************** */
footer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	font-size: 5vmin;
}


footer #contact {
	padding-left: 15rem;
	color: black;
}

footer a:visited {
	text-decoration: none;
	color: #16262e;
}

footer a:link {
	color: #16262e;
	text-decoration: none;
}

footer a:hover {
	color: #857550;
	transition-duration: .3s;
}


.social i {
	justify-content: right;
	margin: 5px;
}

/* Screen sizing */

@media (max-width: 800px) {
	section {
		padding: 3.125px 1.25em;
		margin: none;
	}

	#services .flex-grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

@media (max-width: 600px) {
	body {
		display: flex;
		flex-direction: column;
		padding: none;
	}

	#services .flex-grid li p {
		padding: none;
		margin: none;
		line-height: none;

	}

}
