html,
body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Fanwood Text', serif;
	display: grid;
	align-items: center;
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	font-weight: 140;
}

body {
	display: grid;
	background: #f3e9dc;
	grid-template-columns: min-content 1fr;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	font-family: 'Fanwood Text', serif;
	display: flex;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://images.unsplash.com/photo-1522827542692-fdc47f88b44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
			no-repeat center center fixed;
	padding: 40rem;
	z-index: 0;
	text-align: center;
	text-shadow: 5px;
	font-size: 28px;
	letter-spacing: .3rem;
	color: #fff8e8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: 700 40px/1.2 Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px 0 5px;
	color: #222;
}

h2 {
	font-size: 22px;
	margin: 0 0 30px;
}

h3 {
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 0 5px;
}

main {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-end: span 2;
	padding-left: 0rem;
	padding-right: 10rem;
	padding-bottom: 2rem;
}

section {
	grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
	box-shadow: 1px 1px 3px lightgray;
	align-content: center;
	padding: 19rem;
	margin: 0 0rem 1rem 4rem;
	height: auto;
	width: 1080px;
}

div #slogan .sub-head {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	color: #d5573b;
	text-align: center;
	margin-top: 1.0em;
	margin-bottom: 0em;
	padding-top: 4em;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation-delay: 2.0s;
}

span .sub-head {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			animation-delay: 2.0s;
}

#slogan .sub-head-item {
	letter-spacing: 0.0em;
	font-family: 'Raleway', sans-serif;
	color: #efefd0;
	font-size: 22px;
	padding-left: 27em;
	padding-bottom: 6em;
	margin-top: none;
	padding-top: none;
}

.sub-head-item {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	letter-spacing: 0;
	color: #efefd0;
	-webkit-animation: bounce-in-top 1.1s both;
			animation: bounce-in-top 1.1s both;
			animation-delay: 3.0s;
}

.sub-head-item span {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	padding-left: 0.4em;
	letter-spacing: 0.1em;
	color: #6e9075;
	-webkit-animation: bounce-in-top 1.1s both;
			animation: bounce-in-top 1.1s both;
			animation-delay: 3.0s;			
}

.no-dec {
	font-family: 'Roboto', sans-serif;
	z-index: inherit;
	text-decoration: none;
	font-weight: 100;
	padding-left: 2.2em;
	padding-right: 3em;
	padding-top: 0.7em;
}

.slogan-styles {
	font-family: 'Roboto', sans-serif;
	text-indent: 3%;
	display: flex;
	flex-direction: row;
	z-index: inherit;
	justify-content: center;
	color: #f3e9dc;
	letter-spacing: 0.1rem;
	-webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation-delay: 1.8s;
}

.slogan-styles span {
	font-family: 'Roboto', sans-serif;
	font-weight: 120;
	padding-top: 0.7em;
	padding-right: 3em;
	padding-left: 1.7em;
	margin-left: 3px;
	color: #f3e9dc;
	border-left: 0.2px solid #d5573b;
	height: 2em;
	border-spacing: 2em 2em;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff8e8;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	text-align: center;
}

.scroll-down span {
	position: relative;
	color: #fff8e8;
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.intro-image {
	padding: 0;
}

.home-overlay {
	background-color: rgba(44, 62, 80, 0.3);
	background-repeat: repeat;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.intro {
	position: absolute;
	width: 100%;
	top: 30%;
	left: 0;
	text-align: center;
	margin-bottom: 20em;

}

.main-header-card {
	font-size: 28px;
	letter-spacing: .3rem;
	text-align: center;
}
.headstyle {
	font-family: 'Fanwood Text', serif;
	font-size: 72px;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.sidenav {
	display: flex;
	box-shadow: 0px 0px 3px black;
	padding-right: 20px;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	right: 1;
	top: 0px;
	height: 100%;
	width: 60px;
	background: #33261d;
}

.sidenav .nav {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 1000;
	right: -10px;
	transition: all 0.5s ease;
	cursor: pointer;
}

.sidenav .nav.active {
	right: -10px;
}

.sidenav .nav:hover {
	right: -95px;
}

.sidenav .description,
.sidenav .icon {
	height: 60px;
	line-height: 60px;
	background: #33261d;
}

.sidenav .nav.active .description,
.sidenav .nav.active .icon {
	background: #33261d;
}

.sidenav .icon {
	font-family: 'Roboto', sans-serif;
	width: 60px;
	text-align: center;
	color: #e9e9e9;
	font-size: 25px;
	position: absolute;
	left: -3px;
	right: 0;
	top: 0;
	bottom: 0;
}

.sidenav .description {
	font-family: 'Raleway', sans-serif;
	position: relative;
	font-size: 14px;
	font-weight: 400;
	left: -96px;
	color: #e9e9e9;
	min-width: 80px;
	padding-left: 13px;
	width: 100%;
	text-transform: uppercase;
}

.card {
	grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
}
.section {
	display: none;
	padding: 2rem;
}

#services {
	width: 80%;
	margin-top: 4px;
	background: #dab49d;
}

#gallery {
	width: 80%;
	background-color: #c08552;
}

#reviews {
	width: 80%;
	background: #dab49d;
}

footer,
#contact {
	grid-column: 1/3;
	padding-left: 10rem;
	background-color: #9c9990;
}

/* Example for media query */
@media screen and (max-width: 30.6em) {
	.cbp-qtrotator {
		font-size: 70%;
	}

	.cbp-qtrotator img {
		width: 80px;
	}
}

@-webkit-keyframes drop {
	0% {
		top: 0px;
		opacity: 0;
	}
	30% {
		top: 10px;
		opacity: 1;
	}
	100% {
		top: 25px;
		opacity: 0;
	}
}

@keyframes drop {
	0% {
		top: 0px;
		opacity: 0;
	}
	30% {
		top: 10px;
		opacity: 1;
	}
	100% {
		top: 25px;
		opacity: 0;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-10 18:55:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

/* ----------------------------------------------
 * Generated by Animista on 2019-1-12 18:23:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@-webkit-keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  
