* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
    /* font-family: 'Spectral', serif; */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    font-size: 1em;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2rem;
    margin: 0.4em 0 0.4em;
    /* font-weight: 700; */
    text-transform: uppercase;
    margin-bottom: 4rem;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', serif;
    letter-spacing: 0.02rem;
    margin: 0.4em 0 0.4em;
    font-size: 3em;
    text-transform: uppercase;
    /* padding: 1em; */
    text-align: center;
}

h2,
h3,
h5,
h6 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Spectral', serif;
    letter-spacing: 0.02rem;
    margin: 0.4em 0 0.4em;
    text-transform: uppercase;
    padding: 1em;
    text-align: center;
}

h3 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Spectral', serif;
    font-size: 2.125em;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../assets/KrauseLanding.webp) fixed;
        padding: 40rem;
        z-index: 1000;
        height: 100%;
}

main {
    padding-left: 4rem;
    padding-bottom: 4rem;
}

section {
    align-items: center;
    padding-bottom: 5em;
    padding-top: 5em;
}

p {
    width: auto;
    height: auto;
    line-height: 1.4em;
    padding: 0 20px;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

.container {
    padding-bottom: 12em;
}

.about-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 2vmin;
    line-height: 1.4em;
}

.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-grid li {
    text-align: center;
    padding: 50px;
    flex-basis: 50%;
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    z-index: 1000;
    text-align: center;
}

.scroll-down span {
    position: relative;
    color: #ffff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;

    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.intro h2 {
    font-weight: thin;
}

/* *************************************************** */

.image-overlay {
    width: 100%;
  height: 100%;
  background-image: url(https://www.fillmurray.com/1920/1080);
  background-size: cover;
  background-position: center center;
  z-index: -1;
  position: fixed;
  top: 0; }
    background-image: url(../assets/KrauseLanding.webp);
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 27pt;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

footer a:visited {
    text-decoration: none;
    color: #16262e;
}

footer a:link {
    color: #16262e;
}

footer a:hover {
    color: #6e9075;
    text-decoration: none;
    transition-duration: 0.3s;
}

.social {
    animation-duration: 5s;
    animation-name: slideInDown;
}

.social i {
    justify-content: right;
    margin: 5px;
    will-change: transform;
}

#contact {
    padding-top: 15rem;
}

/* Screen sizing */

@media (max-width: 800px) {
    section {
        padding: 3.125px 1.25em;
        margin: none;
    }

    #services .flex-grid li {
        flex-basis: 100%;
        padding: 20px;
    }

    #reviews;
}

@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        padding: none;
    }

    #services .flex-grid li p {
        padding: none;
        margin: none;
        line-height: none;
    }
}

/* -------------------------------------------- */
